<div id="editor_container" class="editor-container editor-light">
  <a class="save-btn" id="save-btn" href="#save" onClick="saveDraft()">Save</a>
  <a class="clear-btn" id="clear-btn" href="#clear" onClick="clearDraft()">Clear</a>
  <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet" class="guide-btn" target="_blank">Reference</a>
  <div id="editor" class="editor">
    <textarea id="editor_code" autofocus></textarea>
  </div>
</div>
<div id="preview_container" class="preview-container preview-light">
  <div id="preview" class="previewlight">
    <div id="preview_code" class="markdown-body"></div>
  </div>
</div>

