<div id="editor_container" class="editor-container">
  <a class="save-btn" id="save-btn" href="#save" onClick="saveDraft()">Save</a>
  <a class="clear-btn" id="clear-btn" href="#clear" onClick="clearDraft()">Clear</a>
  <div id="editor" class="editor">
    <textarea id="editor_code" autofocus></textarea>
  </div>
</div>
<div id="preview_container" class="preview-container">
  <div id="preview" class="preview">
    <div id="preview_code" class="markdown-body"></div>
  </div>
</div>

