<div id="editor_container" class="editor-container">
  <div id="editor" class="editor">
    <textarea id="editor_code" wrap="off"></textarea>
  </div>
</div>
<div id="preview_container" class="preview-container">
  <div id="preview" class="preview">
    <div id="preview_code" class="markdown-body"></div>
  </div>
</div>